:root {
  /* 通用部分 */
  --main-background            : #666;
  --background-color           : rgba(0, 0, 0, 0.2);
  --title-color                : rgba(0, 0, 0, 0.5);
  --font-color                 : #ffffff;
  --background-hover-color     : rgba(0, 0, 0, 0.2);
  --title-hover-color          : rgba(0, 0, 0, 0.5);
  --font-hover-color           : #ffffff;
  --scroll-track               : rgba(209, 209, 209, 0.5);
  --scroll-thumb               : rgba(209, 209, 209, 1);
  --side-bar-background        : rgba(255, 255, 255, 0.3);
  --side-bar-color             : #000;
  --side-bar-active-bg         : rgba(0, 0, 0, 0.3);
  --side-bar-acitve-color      : #fff;
  --top-bar-height             : 32px;
  /* 文件管理部分 */
  --file-item-hover            : rgba(255, 255, 255, 0.2);
  --contextmenu-bg             : #fff;
  --contextmenu-item-hover     : #eee;
  --contextmenu-item-font      : #000;
  --contextmenu-item-font-hover: #000;
  /* 脚本管理部分 */
  --drawer-bg                  : rgba(255, 255, 255, 0.9);
  --drawer-font                : #000;
  --console-bg                 : #000;
  --console-font               : #fff;
  --console-scroll-bg          : #000;
  --console-scroll-thumb       : #ccc;
  --error-text                 : red;
  --console-border             : #ccc;
  --console-title-bg           : #fff;
  --console-title-font         : #000;
}

#app {
  user-select: none;
}

*,
*::before,
*::after {
  box-sizing : border-box;
  margin     : 0;
  font-weight: normal;
}

*::-webkit-scrollbar {
  width : 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--scroll-track);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb);
  border-radius   : 4px;
}

ul {
  list-style: none;
}

body {
  min-height: 100vh;
  overflow  : hidden;
}

body::-webkit-scrollbar {
  display: none;
  /* 隐藏滚动条 */
}


.card .v-data-table {
  font-size: 12px !important;
}

.v-list-item-title {
  font-size: 14px !important;
}

.v-system-bar {
  user-select: none;
  app-region : drag;
}

.v-btn {
  app-region : no-drag !important;
  user-select: auto !important;
}

.zone {
  height       : 50px;
  margin-bottom: 20px;
}

.page {
  width               : 100vw;
  height              : 100vh;
  background-color    : var(--main-background) !important;
  overflow            : hidden !important;
  background-size     : cover !important;
  /* background-origin: center !important; */
  background-position : center center !important;
}

.page .title {
  background-color: var(--title-color);
  color           : var(--font-color);
  user-select     : none;
  app-region      : drag;
}

.page:hover {
  color: var(--font-hover-color);
}

.page .title:hover {
  background-color: var(--title-hover-color);
}

.page .content:hover {
  background-color: var(--background-hover-color);
}

.page .content {
  /* width           : 100%; */
  background-color      : var(--background-color);
  background-size       : cover;
  color                 : var(--font-color);
  overflow              : auto;
  /* height             : calc(100vh - var(--top-bar-height)); */
  height                : 100vh;
  /* padding-top        : var(--top-bar-height); */
  max-width             : unset !important;
  /* padding-bottom     : 10px; */
}

.page .side-bar {
  background-color: var(--side-bar-background) !important;
  color           : var(--side-bar-color) !important;
  box-shadow      : none !important;
  border          : none !important;
}

.glass {
  backdrop-filter: blur(100px) !important;
}

.bg {
  background-image : url('@resources/pictures/bg.png') !important;
  transition       : none !important;
  background-size  : cover !important;
  background-repeat: no-repeat !important;
}

.page .v-card,
.page .v-table,
.page .v-table th,
.page .v-table tr,
.page .v-table td {
  background-color: transparent !important;
  color           : var(--font-color) !important;
}

.page .side-bar .v-list-item[aria-selected=true] {
  color           : var(--side-bar-acitve-color) !important;
  background-color: var(--side-bar-active-bg) !important;
}

.contextmenu {
  background-color: var(--contextmenu-bg) !important;
}

.contextmenu .contextmenu-item {
  width: 100%;
  color: var(--contextmenu-item-font) !important;
}

.contextmenu .contextmenu-item:hover {
  background-color: var(--contextmenu-item-hover) !important;
  color           : var(--contextmenu-item-font-hover) !important;
}